/* This code is hand written and owned by Matt Drapchaty */

/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/******************* Main Styling  ***********************/



@font-face {
  font-family: "Montserrat";
  src: url("/fonts/monsterrat/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/monsterrat/Montserrat-Bold.otf") format("otf");
}

@font-face{
  font-family: "Montserrat Black";
  src: url("/fonts/monsterrat/Montserrat-Black.otf") format("otf");
}

body, html {
    height: 100%;
    font: 62.5% 'Montserrat', sans-serif;
    background-color: #DEDECD; 
}
 

/************************ Landing Page ****************************/

/* Overlay */

#overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; 
    height: 100vh; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 1; 
}

/* Landing Page bg */

#landing-page{
	
	background-image: url("../img/bg.jpg");
	background-color: #cccccc;
	height: 100%;
	width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

/** Header **/
#landing-page h1{
	display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	font-size: 4rem;
	font-weight: 700; 
	color: #FFF; 
	margin: 1rem;
    z-index: 2;
}
#landing-page h1 span{
	white-space: nowrap;
}



/* Get in Touch link */
#landing-page header a{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
    border: .2rem solid #EE9652;
    border-radius: 2.5rem;
    font-size: 1.4rem;
    color: white;
    padding: 1.6rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

/* get in touch link styles (hover) */
#landing-page header a:hover{
	background-color: #EE9652;
	
}



/* scroll down link */
#scroll_link{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
}

#scroll_link p{
	margin-bottom: 1rem;
	color: white;
	font-size: 1.6rem
}

#scroll_link a{
	text-decoration: none;
}






/**************** About ******************/

#about{
    text-align: center;
	padding: 8rem;
	margin: 2rem auto;
	max-width: 66.6%;
	background-color: #DEDECD;
	border-bottom: .2rem solid #EE9652;

}

#about h3{
	font-size: 2.5rem;
	font-weight: 500;
}

#about p{
	font-size: 2rem;
	max-width: 80rem;
	margin: 4rem auto 0;
	
}




/**************** What I Do ********************/


#what_i_do{
	width: 100%;
	height: 66rem;
	/* border: 2px solid black; */
	margin: 6rem auto;
	position: relative;
	overflow: hidden;
}

/****** Icons ******/

.icons{
	width: 15%;

	height: 100%;
	float: left;
	margin-left: 8%;
	text-align: center;
	position: relative;
}

.icons h3{
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 1rem;
	color: #0b3c5d;
}

.icons p{
	font-size: 1.6rem;
	font-weight: 300;
	margin: 2rem auto 0;
	width: 100%;
	text-align: center;

}

.icons h3, .icons p{
	position: relative;
	top: 14rem;
}

.icon_tools{
	margin: 4rem auto;
	position: relative;
	top: 14rem;
	border: .1rem solid black;
	border-radius: .7rem;
	background-color: white;
	max-width: 18rem;
}

.icon_tools h4{
	text-decoration: underline;
	font-size: 1.6rem;
	color: #0b3c5d;
	font-weight: 600;
	margin: 1rem;
}

.icon_tools ul li{
	margin: 1.2rem;
	font-size: 1.2rem;
	position: relative;
	left: 4rem;
	text-align: left;
}





/*** Strategy icon ***/

/* main icon */
.icons:nth-child(1)::before {
    content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/strategy-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

/* main icon bg */
.icons:nth-child(1)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: -1;
}

/** li icons **/

/* google hangouts */
.icons:nth-child(1) ul li:nth-child(1)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/g-hangouts.svg") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* google docs */
.icons:nth-child(1) ul li:nth-child(2)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/g-docs.svg") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* google drive */
.icons:nth-child(1) ul li:nth-child(3)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/g-drive.svg") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* google drawings */
.icons:nth-child(1) ul li:nth-child(4)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/g-drawings.svg") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* skype */
.icons:nth-child(1) ul li:nth-child(5)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/skype.svg") no-repeat center center;
	background-size: 75%;
	left: -4rem;
	top: -1.4rem;
}

/* github */
.icons:nth-child(1) ul li:nth-child(6)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/github.png") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* email */
.icons:nth-child(1) ul li:nth-child(7)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/email.svg") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/* phone */
.icons:nth-child(1) ul li:nth-child(8)::before{
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: url("../img/tool-icons/phone.png") no-repeat center center;
	background-size: 50%;
	left: -4rem;
	top: -1.4rem;
}

/*** Design icon ***/
.icons:nth-child(2)::before {
	
    content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/design-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);	
}

.icons:nth-child(2)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: -1;
}

/* Front end icon */
.icons:nth-child(3)::before {
    content: '';
	width: 11rem;
	height: 11rem;
	position: absolute;
	background: url("../img/front-end-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);	
}

.icons:nth-child(3)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: -1;
}

/* Back end icon */
.icons:nth-child(4)::before {
    content: '';
	width: 14rem;
	height: 14rem;
	position: absolute;
	background: url("../img/back-end-white.svg") no-repeat center center;
	background-size: 70%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);	
}

.icons:nth-child(4)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: -1;
}


/********* MY WORK  ****************/

#my_work{
	background-color: white;
	width: 100%;
	text-align: center;
	height: 66rem;
	
}

#my_work h2{
	font-size: 2.5rem;
	font-weight: 600;
	margin: 6rem auto;
	position: relative;
	top: 6rem;
}

#gallery{
	width: 60%;
	height: 48rem;
	margin: 0 auto;
	
}

.work_example{
	float: left;
	width: 33.3%;
	height: 22rem;
	background-color: grey;

}


/***********  CONTACT  ***********/

#contact{
	background-color: #0b3c5d;
	width: 100%;
	height: 22rem;
}

/************* FOOTER ******************/

footer{
	background-color: #072438;
	height: 12rem;
	width: 100%;
}



/********************** media queries ***********************/

/** Landing page **/

/* large screens */


@media screen and (min-width: 1460px) { 

    html{
    	font-size: 75%;
    }
}

@media screen and (max-width: 740px) { 

    html{
  		font-size: 55%;
 
    }
}

/* small screens (Landing Page) */
@media screen and (max-width: 520px) { 

	html{
		font-size: 45%;
	}

	#landing-page h1{
		
		margin-top: 2rem;
	}

    #landing-page h1 span{
  		white-space: normal;  		
    }

    #landing-page a img{
    	width: 4rem;
    	height: auto;
    }

}
/* XS screens/ zoom fixes */
@media screen and (max-width: 480px){
	#landing-page h1{
		min-width: 50%;
	}
}

@media screen and (max-width: 360px){
	#landing-page h1{
		min-width: 66.66%;
	}
}

@media screen and (max-height: 450px){
	#landing-page header a{
		display: none;
	}

	#scroll_link p{
		display: none;
	}
}

/*  What I do */

@media screen and (max-width: 1100px){
	#what_i_do{
		height: 132rem;
	}

	.icons{
		width: 42.5%;
		margin-left: 5%;
		height: 50%;
	}

}

@media screen and (max-width: 700px){
	#what_i_do{
		height: 264rem;
	}

	.icons{
		width: 80%;
		margin-left: 10%;
		height: 25%;
	}

}