/* This code is hand written and owned by Matt Drapchaty */

/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/******************* Main Styling  ***********************/



@font-face {
  font-family: "Montserrat";
  src: url("/fonts/monsterrat/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/monsterrat/Montserrat-Bold.otf") format("otf");
}

@font-face{
  font-family: "Montserrat Black";
  src: url("/fonts/monsterrat/Montserrat-Black.otf") format("otf");
}

body, html {
    height: 100%;
    font: 62.5% 'Montserrat', sans-serif;
     
}
 

/************************ Landing Page ****************************/

/* Overlay */

#overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; 
    height: 100vh; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 1; 
    box-shadow: 0 .2rem .2rem #888888;
}

/* Landing Page bg */

#landing-page{
	
	background-image: url("../img/bg.jpg");
	background-color: #cccccc;
	height: 100%;
	width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;

}

/** Header **/
#landing-page h1{
	display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	font-size: 4rem;
	font-weight: 700; 
	color: #FFF; 
	margin: 1rem;
    z-index: 2;
}
#landing-page h1 span{
	white-space: nowrap;
}



/* Get in Touch link */
#landing-page header a{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
    border: .2rem solid #EE9652;
    border-radius: 2.5rem;
    font-size: 1.4rem;
    color: white;
    padding: 1.6rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

/* get in touch link styles (hover) */
#landing-page header a:hover{
	background-color: #EE9652;
	
}



/* scroll down link */
#scroll_link{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
}

#scroll_link p{
	margin-bottom: 1rem;
	color: white;
	font-size: 1.6rem
}

#scroll_link a{
	text-decoration: none;
}






/**************** About ******************/

/** about title **/

#about_bg{
	width: 100%;
	height: 14rem;
	background-color: #DEDECD;

}

#about_bg h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);

}

/** about **/

#about{
    width: 100%;
    text-align: center;
	margin: 0 auto;
	background-color: #0b3c5d;
	color: white;
	padding-bottom: 8rem;
	
}

#about h3{
	width: 66%;
	font-size: 3rem;
	font-weight: 500;
	margin: 6rem auto;
}

#about p{
	width: 66%;
	font-size: 2rem;
	max-width: 80rem;
	margin: 0 auto;
}


#about_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #0b3c5d;
  fill: #DEDECD;
  stroke: #DEDECD;
}





/**************** What I Do ********************/


#what_i_do{
	width: 100%;
	height: 86rem;
	position: relative;
	overflow: hidden;
	background-color: #DEDECD;

}

#skills_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #DEDECD;
  fill: white;
  stroke: white;
}

/****** Skills ******/

#skills_bg{
	width: 100%;
	height: 14rem;
	
	background-color: white;

}

#skills_bg h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 8rem;

}


.skills{
	width: 30%;
	height: 60rem;
	float: left;
	text-align: center;
	position: relative;
}

.skills:nth-child(3){
	margin-left: 5%;
}

.skills h3{
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 1rem;
	color: #0b3c5d;
}

.skills p{
	font-size: 1.6rem;
	font-weight: 300;
	margin: 2rem auto 0;
	width: 66.6%;
	text-align: center;

}

.skills h3, .skills p{
	position: relative;
	top: 14rem;
}

.skills_tools{
	margin: 4rem auto;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	border: .2rem solid #0b3c5d;
	border-radius: 2.4rem;
	background-color: white;
	width: 95%;
	height: 24rem;

}

.skills_tools h4{
	text-decoration: underline;
	font-size: 1.8rem;
	color: #0b3c5d;
	font-weight: 600;
	margin: 1.8rem;
}

.skills_tools ul li{
	position: relative;
	visibility: hidden;
	display: inline-block;
	width: 30%;
	height: 8rem; 
	float: left;
}

.skills_tools ul li:nth-child(1){
	margin-left: 5%;
}

.skills_tools ul li:nth-child(4){
	margin-left: 5%;
}

/*** Design icon ***/

/* main icon */
.skills:nth-child(3)::before {
	
    content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/design-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;	
}

/* main icon bg */
.skills:nth-child(3)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}


 /** design li icons **/

/* adobe illustrator */

.skills:nth-child(3) ul li:nth-child(1)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-illustrator.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe photoshop */

.skills:nth-child(3) ul li:nth-child(2)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-photoshop.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe xd */

.skills:nth-child(3) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-xd.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe indesign */

.skills:nth-child(3) ul li:nth-child(4)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-indesign.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* balsamiq */

.skills:nth-child(3) ul li:nth-child(5)::before{
	content: '';
	width: 6.5rem;
	height: 6.5rem;
	position: absolute;
	background: url("../img/tool-icons/balsamiq.png") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* pencil and paper */

.skills:nth-child(3) ul li:nth-child(6)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/paper.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/**** Front end icon ****/

/* main icon */
.skills:nth-child(4)::before {
    content: '';
	width: 11rem;
	height: 11rem;
	position: absolute;
	background: url("../img/front-end-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
}

/* main icon bg*/
.skills:nth-child(4)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

/** front-end li icons **/

/* html */
.skills:nth-child(4) ul li:nth-child(1)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/html.svg") no-repeat center center;
	background-size: 95%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* css */
.skills:nth-child(4) ul li:nth-child(2)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/css.svg") no-repeat center center;
	background-size: 70%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* js */
.skills:nth-child(4) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/js.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* jquery */
.skills:nth-child(4) ul li:nth-child(4)::before{
	content: '';
	width: 9rem;
	height: 9rem;
	position: absolute;
	background: url("../img/tool-icons/jquery.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* Bootstrap */
.skills:nth-child(4) ul li:nth-child(5)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/bootstrap.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* Angular JS */
.skills:nth-child(4) ul li:nth-child(6)::before{
	content: '';
	width: 7.5rem;
	height: 7.5rem;
	position: absolute;
	background: url("../img/tool-icons/angular.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/*** Back end icon ***/

/* main icon */
.skills:nth-child(5)::before {
    content: '';
	width: 14rem;
	height: 14rem;
	position: absolute;
	background: url("../img/back-end-white.svg") no-repeat center center;
	background-size: 70%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
}

/* main icon */
.skills:nth-child(5)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);

}


/* PHP */
.skills:nth-child(5) ul li:nth-child(1)::before{
	content: '';
	width: 8rem;
	height: 8rem;
	position: absolute;
	background: url("../img/tool-icons/php.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* nodejs */
.skills:nth-child(5) ul li:nth-child(2)::before{
	content: '';
	width: 8rem;
	height: 8rem;
	position: absolute;
	background: url("../img/tool-icons/nodejs.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* python */
.skills:nth-child(5) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/python.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* java */
.skills:nth-child(5) ul li:nth-child(4)::before{
	content: '';
	width: 7em;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/java.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* MySQL */
.skills:nth-child(5) ul li:nth-child(5)::before{
	content: '';
	width: 7.5rem;
	height: 7.5rem;
	position: absolute;
	background: url("../img/tool-icons/mysql.png") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* mongodb */
.skills:nth-child(5) ul li:nth-child(6)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/mongodb.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/************ MY WORK  ****************/

#projects_bg{
	width: 100%;
	height: 14rem;
	background-color: #EE9652;

}

#projects_bg h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 8rem;
	color: white;
}

#projects_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: white;
  fill: #EE9652;
  stroke: #EE9652;
}


#projects{
	width: 100%;
	text-align: center;
	height: 90rem;
}



#gallery{
	width: 80%;
	height: 56rem;
	margin: 0 auto;

	
}

.work_example{
	float: left;
	width: 33.3%;
	height: 50%;
	background-color: grey;

}


/***********  CONTACT  ***********/

#contact{
	background-color: #0b3c5d;
	width: 100%;
	height: 66rem;
}

 /* header */
#contact h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 12rem;
	color: white;
}

#contact p{
	font-size: 2rem;
	position: relative;
	top: 16rem;
	color: white;
	text-align: center;
	width: 66.6%;
	margin: 0 auto; 
}

/* form */
#contact form{
	position: relative;
	top: 16rem;
	width: 33.3%;
	margin: 4rem auto;
}

#contact form input{
	width: 100%;
	height: 3rem;
	margin: .2rem;
}

#contact form textarea{
	width: 100%;
	height: 12rem;
	margin: .2rem;
}

#contact form input:nth-of-type(3){
	float: right;
    font-size: 1.6rem;
    padding: 1.2rem 3rem 3rem;
    margin: 2rem 0 0;
    color: white;
    background: transparent;
    width: 12rem;
}

#contact form input:nth-of-type(3):hover{
	background: #EE9652;
}




/************* FOOTER ******************/

footer{
	background-color: #072438;
	height: 12rem;
	width: 100%;
}



/********************** media queries ***********************/

/** Landing page **/

/* large screens */


@media screen and (min-width: 1460px) { 

    html{
    	font-size: 75%;
    }
}

@media screen and (max-width: 740px) { 

    html{
  		font-size: 55%;
 
    }
}

/* small screens (Landing Page) */
@media screen and (max-width: 520px) { 

	html{
		font-size: 45%;
	}

	#landing-page h1{
		
		margin-top: 2rem;
	}

    #landing-page h1 span{
  		white-space: normal;  		
    }

    #landing-page a img{
    	width: 4rem;
    	height: auto;
    }

}
/* XS screens/ zoom fixes */
@media screen and (max-width: 480px){
	#landing-page h1{
		min-width: 50%;
	}
}

@media screen and (max-width: 360px){
	#landing-page h1{
		min-width: 66.66%;
	}
}

@media screen and (max-height: 450px){
	#landing-page header a{
		display: none;
	}

	#scroll_link p{
		display: none;
	}
}

/*  What I do */

@media screen and (max-width: 1100px){
	#what_i_do{
		height: 146rem;
	}

	.skills{
		width: 50%;
	}

	.skills:nth-child(3){
		margin-left: 0;
	}

	.skills:nth-child(5){
		margin-left: 25%;
	}

}

@media screen and (max-width: 700px){
	#what_i_do{
		height: 214rem;
	}

	.skills{
		width: 80%;
	}

	.skills:nth-child(3){
		margin-left: 10%;
	}

	.skills:nth-child(4){
		margin-left: 10%;
	}

	.skills:nth-child(5){
		margin-left: 10%;
	}

}