/* This code is hand written and owned by Matt Drapchaty */

/* Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******************* Main Styling  ***********************/



@font-face {
  font-family: "Montserrat";
  src: url("/fonts/monsterrat/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/monsterrat/Montserrat-Bold.otf") format("otf");
}

@font-face{
  font-family: "Montserrat Black";
  src: url("/fonts/monsterrat/Montserrat-Black.otf") format("otf");
}

body, html {
    height: 100%;
    font: 62.5% 'Montserrat', sans-serif;
     
}

h2{
	font-family: Raleway, sans-serif;
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	color: #072438;
	opacity: 0;
	transition: all 500ms ease-in;
	transition-delay: .8s;
}


/************************ Landing Page ****************************/

/* Overlay */

#overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; 
    height: 100vh; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 1; 
    box-shadow: 0 .2rem .2rem #888888;
}

/************* Landing Page **************/

#landing_page{
	
	background-image: url("../img/bg.jpg");
	background-color: #cccccc;
	height: 100%;
	width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/** Header **/


#navbar{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #F0F0F0;	
	opacity: .0;
	height: 6rem;
	z-index: 3;
	transition: top 0.3s;
	visibility: ;
}

#navbar ul{
	float: right;
}

#navbar ul li{
	margin: 2rem 4rem;
	display: inline-block;
	font-family: 'Raleway';
	font-size: 2rem;
	font-weight: bold;
	color: #072438;
}

#navbar ul li a{
	text-decoration: none;
	transition: 100ms ease-in;
}

#navbar ul li a:hover{
	color: #EE9652;
}

#landing_page h1{
	display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	font-size: 4rem;
	font-weight: 700; 
	color: #FFF; 
	margin: 1rem;
    z-index: 2;
	width: auto;
	white-space: nowrap; /* Keeps the content on a single line */
}



#typed{
	display: inline-block;
	font-size: 4rem;
	font-weight: 700; 
	color: #FFF; 
	margin: 1rem;
    z-index: 2;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .5rem solid #EE9652; /* The typwriter cursor */
     
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: ; /* Adjust as needed */
	visibility: hidden;
    animation: 
      typing 2s steps(175, end),
      show 1s infinite,
      blink-caret 1s step-end infinite;
      animation-delay: 1.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The delay visibility effect */
@keyframes show {
  from { visibility: hidden; }
  to { visibility: visible; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #EE9652; }

}


 /* Get in Touch link effects on landing page */

#landing_page > div{
  position: absolute;
  width: 16rem;
  height: 5rem;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

#landing_page > div > a{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
#landing_page > div > a::before, #landing_page > div > a::after{
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 160px;
  height: 50px;
  position: absolute;
  border: .4rem solid #EE9652;
  font-weight: bold;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}
#landing_page > div > a::before{
  
  color: white;
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}
#landing_page > div > a::after{
  background-color: #EE9652;
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
#landing_page > div > a:hover{
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
}


/* Get in Touch link */

.flip_btn{
	position: absolute;
	left: 50%;
	top: 75%;
	z-index: 2;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}


/* scroll down link */

#scroll_link{
	width: auto;	
	height: 12.5%;
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 2;
    font-size: 1.4rem;
    color: white;
    padding: 1.6rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

#scroll_link p{
	bottom: 25%;
}

#scroll_link img{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

/**************** About ******************/

/** about title **/

#about_bg{
	width: 100%;
	height: 14rem;
	/*background-color: #DEDECD;*/
	background-color: #f5f5f5;

}


/** about **/

#about{
    width: 100%;
    text-align: center;
	margin: 0 auto;
	background-color: #0b3c5d;
	color: white;
	padding-bottom: 8rem;
	
}

#about h3{
	width: 50%;
	font-size: 3rem;
	font-weight: 500;
	margin: 6rem auto;
	transition: 500ms ease-in;
	text-transform: capitalize;
}

#about p{
	width: 66%;
	font-size: 2rem;
	max-width: 80rem;
	margin: 0 auto;
	transition: 500ms ease-in;
}


#about_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #0b3c5d;
  /*fill: #DEDECD;
  stroke: #DEDECD;
  */
  fill: #f5f5f5;
  stroke: #f5f5f5;
}






/**************** What I Do ********************/


#what_i_do{
	width: 100%;
	height: 84rem;
	background-color: #DEDECD;
}

#what_i_do h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 9rem;
	color: #072438;
}

#what_i_do .slide{
	position: relative;
	top: 14rem;
}
/*
#skills_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #DEDECD;
  fill: #f5f5f5;
  stroke: #f5f5f5;
}
*/
/****** Skills ******/


.skills{
	width: 30%;
	height: 60rem;
	float: left;
	text-align: center;
	position: relative;
	transition: 500ms ease-in;
	top: 18rem;
}



.skills:nth-child(3){
	margin-left: 5%;
}

.skills h3{
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 1rem;
	color: #0b3c5d;
}

.skills p{
	font-size: 1.6rem;
	font-weight: 300;
	margin: 2rem auto 0;
	width: 66.6%;
	text-align: center;

}

.skills h3, .skills p{
	position: relative;
	top: 14rem;
}

.skills_tools{
	margin: 6rem auto;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	border: .2rem solid #0b3c5d;
	border-radius: 2.4rem;
	background-color: white;
	width: 95%;
	height: 28rem;
	transition: 500ms ease-in;
}

.skills_tools h4{
	text-decoration: underline;
	font-size: 1.8rem;
	color: #0b3c5d;
	font-weight: 600;
	margin: 1.8rem;
}

.skills_tools ul li{
	position: relative;
	visibility: hidden;
	display: inline-block;
	width: 30%;
	height: 8rem; 
	float: left;
	margin-top: 1.6rem;
	
	
}

.skills_tools ul li p{
	width: 80%;
	padding: .3rem;
	font-size: 1.4rem;
	font-weight: bold;
	position: relative;
	top: -4rem;
	background-image: linear-gradient(to top right, #B2703D, #FFA168);
	border-radius: .6rem;
	color: white;
}

.skills_tools ul li:hover{
	visibility: visible;
}

.skills_tools ul li:nth-child(1){
	margin-left: 5%;
}

.skills_tools ul li:nth-child(4){
	margin-left: 5%;
}

/*** Design icon ***/

/* main icon */
.skills:nth-child(3)::before {
	
    content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/design-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;	
}

/* main icon bg */
.skills:nth-child(3)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}


 /** design li icons **/

/* adobe illustrator */

.skills:nth-child(3) ul li:nth-child(1)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-illustrator.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe photoshop */

.skills:nth-child(3) ul li:nth-child(2)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-photoshop.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe xd */

.skills:nth-child(3) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-xd.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* adobe indesign */

.skills:nth-child(3) ul li:nth-child(4)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/a-indesign.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* balsamiq */

.skills:nth-child(3) ul li:nth-child(5)::before{
	content: '';
	width: 6.5rem;
	height: 6.5rem;
	position: absolute;
	background: url("../img/tool-icons/balsamiq.png") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* pencil and paper */

.skills:nth-child(3) ul li:nth-child(6)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/paper.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/**** Front end icon ****/

/* main icon */
.skills:nth-child(4)::before {
    content: '';
	width: 11rem;
	height: 11rem;
	position: absolute;
	background: url("../img/front-end-white.svg") no-repeat center center;
	background-size: 65%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;
}

/* main icon bg*/
.skills:nth-child(4)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

/** front-end li icons **/

/* html */
.skills:nth-child(4) ul li:nth-child(1)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/html.svg") no-repeat center center;
	background-size: 95%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* css */
.skills:nth-child(4) ul li:nth-child(2)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/css.svg") no-repeat center center;
	background-size: 70%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* js */
.skills:nth-child(4) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/js.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* jquery */
.skills:nth-child(4) ul li:nth-child(4)::before{
	content: '';
	width: 9rem;
	height: 9rem;
	position: absolute;
	background: url("../img/tool-icons/jquery.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* Bootstrap */
.skills:nth-child(4) ul li:nth-child(5)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/bootstrap.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* Angular JS */
.skills:nth-child(4) ul li:nth-child(6)::before{
	content: '';
	width: 7.5rem;
	height: 7.5rem;
	position: absolute;
	background: url("../img/tool-icons/angular.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/*** Back end icon ***/

/* main icon */
.skills:nth-child(5)::before {
    content: '';
	width: 14rem;
	height: 14rem;
	position: absolute;
	background: url("../img/back-end-white.svg") no-repeat center center;
	background-size: 70%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;
}

/* main icon */
.skills:nth-child(5)::after {
    content: '';
	width: 12rem;
	height: 12rem;
	position: absolute;
	background-color: #0b3c5d;
	border-radius: 4rem;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);

}


/* PHP */
.skills:nth-child(5) ul li:nth-child(1)::before{
	content: '';
	width: 8rem;
	height: 8rem;
	position: absolute;
	background: url("../img/tool-icons/php.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* nodejs */
.skills:nth-child(5) ul li:nth-child(2)::before{
	content: '';
	width: 8rem;
	height: 8rem;
	position: absolute;
	background: url("../img/tool-icons/nodejs.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* python */
.skills:nth-child(5) ul li:nth-child(3)::before{
	content: '';
	width: 6rem;
	height: 6rem;
	position: absolute;
	background: url("../img/tool-icons/python.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* Git */
.skills:nth-child(5) ul li:nth-child(4)::before{
	content: '';
	width: 7em;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/git.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* MySQL */
.skills:nth-child(5) ul li:nth-child(5)::before{
	content: '';
	width: 7.5rem;
	height: 7.5rem;
	position: absolute;
	background: url("../img/tool-icons/mysql.png") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}

/* mongodb */
.skills:nth-child(5) ul li:nth-child(6)::before{
	content: '';
	width: 7rem;
	height: 7rem;
	position: absolute;
	background: url("../img/tool-icons/mongodb.svg") no-repeat center center;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	visibility: visible;
}


/************ MY WORK  ****************/

#projects_bg{
	width: 100%;
	height: 14rem;
	/*background-color: #EE9652; */
}


#projects_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #f5f5f5;
  fill: #EE9652;
  stroke: #EE9652;
}


#projects{
	width: 100%;
	text-align: center;
	height: 90rem;
	background-color: #f5f5f5;
}



#gallery{
	width: 80%;
	height: 56rem;
	margin: 4rem auto;
	-webkit-transition: 500ms ease-in;
	-o-transition: 500ms ease-in;
	transition: 500ms ease-in;
}

.work_example{
	float: left;
	width: 33.3%;
	height: 50%;
	background-color:;
	-webkit-transition: 500ms ease-in;
	-o-transition: 500ms ease-in;
	transition: 500ms ease-in;
}



.work_button{
	width: 100%;
	height: 100%;
	background-color: pink;
	-webkit-transition: 500ms ease-in;
	-o-transition: 500ms ease-in;
	transition: 500ms ease-in;
}

.work_button:hover{
	background-color: #f5f5f5;
}


.work_button:hover::after{
  content: " test";
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* centered */
  padding: 2rem;
  border: .1rem solid #888;
  width: 66.6%; 
  height: 25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/***********  CONTACT  ***********/

#contact{
	background-color: #0b3c5d;
	width: 100%;
	height: 66rem;
}

 /* header */
#contact h2{
	font-size: 3.6rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 9rem;
	color: white;
}

/* contact message */
#contact p{
	font-size: 1.6rem;
	position: relative;
	top: 14rem;
	color: white;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	transition: 500ms ease-in; 
}

/* form */
#contact form{
	position: relative;
	top: 14rem;
	width: 33.3%;
	margin: 4rem auto;
	transition: 500ms ease-in;
}

#contact form input{
	width: 100%;
	height: 3rem;
	margin: .2rem;
	background-color: #072438;
	border: none;
}

#contact form textarea{
	width: 100%;
	height: 12rem;
	margin: .2rem;
	background-color: #072438;
	border: none;
}


/* Submit Button */

#contact input[type=submit]{
	float: right;
    font-size: 1.6rem;
    padding: 1.2rem 3rem 3rem;
    margin: 2rem 0 0;
    color: white;
    background: transparent;
    width: 12rem;
    border: .2rem solid white;
    transition: .4s;
}

#contact input[type=submit]:hover{
	background: #072438;
	border: .2rem solid #072438;
}


/* placeholder text color */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;		
  font-size: 1.2rem; 
}

::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 1.2rem; 
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 1.2rem; 
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 1.2rem; 
}


/* input text  */

textarea:focus, input:focus {
    color: #FFF;
    font-size: 1.2rem; 
}

input, select, textarea{
    color: #FFF;
    font-size: 1.2rem; 
}

/************* FOOTER ******************/

#footer_fade{
  display: block;
  width: 100%;
  height: 9rem;
  background-color: #0b3c5d;
  fill: #072438;
  stroke: #072438;
}


footer{
	background-color: #072438;
	height: 40rem;
	width: 100%;
	color: white;
}

footer ul{
	width: 33.3%;
	height: 6rem;
	margin: 0 auto;
}

footer ul li{
	display: inline-block;
	height: 100%;
	margin-left: 15%;
}

footer ul li a{
  color: pink;
  text-decoration: none;
}


footer ul li a:hover {
  color: pink;
  position: relative;
}

footer ul li a[data]:hover:after {
  content: attr(data);
  padding: .3rem;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top right, #B2703D, #FFA168);
  border-radius: .6rem;
  color: white;
}



footer ul li img{
	height: 100%;
}

/*
#github::after{
	content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/github.png") no-repeat center center;
	background-size: 65%;
	top: ;
	left: ;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;
}

#github:hover a{
	visibility: visible;
}

#linkedin::after{
	content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/linkedin.png") no-repeat center center;
	background-size: 65%;
	top: ;
	left: ;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;
	
}

#facebook::after{
	content: '';
	width: 10rem;
	height: 10rem;
	position: absolute;
	background: url("../img/facebook.png") no-repeat center center;
	background-size: 65%;
	top: ;
	left: ;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 1;
	
}
*/
footer p{
	font-size: 1.6rem;
	text-align: center;
	position: relative;
	top: 8rem;
}

/***************** Animations/ Effects ****************/


/************ Fade animation ****************/

.fade, .fade_delay{
	opacity: 0;
}


.fade_in{
	opacity: 1;
}

/************ Slide animation ***************/

.slide{
	height: .4rem;
	width: 7rem;
	background-color: #072438;
	position: relative;
	top: 60%;
	left: 0;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); 
	opacity: 0;
	transition: all 500ms ease-in;

}


#contact .slide{
	top: 9rem;
	background-color: white;
}

.slide_right{
	opacity: 1;
	animation: slide_right 1s linear;
	animation-fill-mode: forwards;
}

@keyframes slide_right{
	0% {
		  left: 25%;
	}
	25%{
		  left: 31.25%;
	}
	50%{
		  left: 37.5%;
	}
	75%{
		  left: 43.75%;
	}
	100%{
		  left: 50%;
	}
}

.slide_left{
	opacity: 1;
	animation: slide_left 1s linear;
	animation-fill-mode: forwards;
}

@keyframes slide_left{
	0% {
		  left: 75%;
	}
	25%{
		  left: 68.75%;
	}
	50%{
		  left: 62.5%;
	}
	75%{
		  left: 56.25%;
	}
	100%{
		  left: 50%;
	}
}

/*
.slide_up{
	opacity: 1;
	animation: slide_up 1s linear;
	animation-fill-mode: forwards;
}

@keyframes slide_up{
	0% {
		  bottom: 7%;
	}
	25%{
		  bottom: 68.75%;
	}
	50%{
		  bottom: 62.5%;
	}
	75%{
		  bottom: 56.25%;
	}
	100%{
		  bottom: 50%;
	}
}
*/

/********************** media queries ***********************/

/** Landing page **/

/* large screens */


@media screen and (min-width: 1460px) { 

    html{
    	font-size: 75%;
    }
}

@media screen and (max-width: 740px) { 

    html{
  		font-size: 55%;
 
    }
}

/* small screens (Landing Page) */
@media screen and (max-width: 520px) { 

	html{
		font-size: 45%;
	}

	#landing-page h1{
		
		margin-top: 2rem;
	}

    #landing-page h1 span{
  		white-space: normal;  		
    }

    #landing-page a img{
    	width: 4rem;
    	height: auto;
    }

}
/* XS screens/ zoom fixes */
@media screen and (max-width: 480px){
	#landing-page h1{
		min-width: 50%;
	}
}

@media screen and (max-width: 360px){
	#landing-page h1{
		min-width: 66.66%;
	}
}


@media screen and (max-height: 450px){
	#landing-page header a{
		display: none;
	}

	#scroll_link p{
		display: none;
	}
}

/*  What I do */

@media screen and (max-width: 1100px){
	#what_i_do{
		height: 146rem;
	}

	.skills{
		width: 50%;
	}

	.skills:nth-child(3){
		margin-left: 0;
	}

	.skills:nth-child(5){
		margin-left: 25%;
	}

}

@media screen and (max-width: 700px){
	#what_i_do{
		height: 210rem;
	}

	.skills{
		width: 80%;
	}

	.skills:nth-child(3){
		margin-left: 10%;
	}

	.skills:nth-child(4){
		margin-left: 10%;
	}

	.skills:nth-child(5){
		margin-left: 10%;
	}

	#about h3, #about p{
		width: 66.6%;
	}

	#contact p, #contact form{
		width: 66.6%;
	}
}








